$baseFont: 'Raleway', sans-serif;
$textColor: #fff;
$standardFontSize: 17px;

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  color: $textColor;
  font-size: $standardFontSize;
  font-family: $baseFont;
  font-weight: 200;
  background: url(/assets/images/bg-medium.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// @media (min-width: 1024px) { 
//   body { background: url(/assets/images/bg-large.jpg) no-repeat center center fixed; }
// }

@media (min-width: 1500px) { 
  body {
    background: url(/assets/images/bg-baller.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


strong { font-weight: 500; }

h2, h3, h4 {
  line-height: 1.2em;
  font-weight: 200;
}

h1 {
  font-weight: 200;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    position: fixed;
    width: 60%;
    top: 10%;
    left: 0;
  }
}

.resume-wrapper {
  position: relative;
  padding: 20px;
}

.resume {
  @include box-shadow(0 0 3px rgba(black, .3));
  @include border-radius(1px);
  background: rgba(#2c3e50,.7);
  position: relative;
  display: block; 
  width: 100%;
  padding: 20px 10px;
  &>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &>li {
      width: 100%;
      padding: 0 0 0 50px;
      position: relative;
      margin: 30px 0 0 0;
      &:first-of-type { margin-top: 0; }
    }
    .year {
      display: block;
      position: absolute;
      left: .5em;
      top: 50%;
      margin-top: -.5em;
      font-size: 20px;
      color: rgba(#ccc, .6);
    }
    &>ul {
      list-style-type: circle;
      margin: 0;
      padding: 0;
      li {
        margin-top: 1em;
      }
    }
  }
}

@media (min-width: 768px) {
  .resume-wrapper {
    // overflow: auto;
    position: absolute;
    right: 0; top: 0;
    width: 40%;
    max-width: 550px;
    height: 100%;
  }
  .resume {
    height: 80%;
    overflow: hidden;
    margin-top: 10%;
    overflow-y: auto;
  }
}